Source: libjson-assert-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: perl (>= 5.6.10-12)
Maintainer: Andrew Ruthven <puck@catalyst.net.nz>
Standards-Version: 3.8.0
Homepage: http://search.cpan.org/dist/JSON-Assert/

Package: libjson-assert-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libjson-perl, libany-moose-perl
Description: Test JSONPaths in a JSON derived data structure for correct values/matches
 This modules allows you to test JSONPath values, and value counts in
 any JSON data structure for correct values.
